{% if pipeline.duration %}
<!-- Each stage icon's -->
{% with stage=pipeline.lint_stage %}
{% include 'tables/cell_pipeline_single_job.html' %}
{% endwith %}

{% with stage=pipeline.merge_stage %}
{% include 'tables/cell_pipeline_single_job.html' %}
{% endwith %}

{% with stage=pipeline.build_stage %}
{% include 'tables/cell_pipeline_single_job.html' %}
{% endwith %}

{% with stage=pipeline.test_stage %}
{% include 'tables/cell_pipeline_single_job.html' %}
{% endwith %}
<!-- End each stage icon's -->

{% else %}

<!-- Still running -->
<td colspan="4" align="center" class="{{ pipeline.all_stage.style.cell }}">
    <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">{{ pipeline.all_stage.style.icon|safe}}</a>
</td>
<!-- End still running -->
{% endif %}
