<div class="table-responsive">
  <table class="table table-bordered table-sm" id="pipelinesTable" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        {% block header %}
        <th class="col-1-big">ID</th>
        <th class="col-1-big">Git Tree</th>
        <th class="col-1">Commit</th>
        <th class="col-4">Version</th>
        {% include 'tables/head_pipeline_jobs.html' %}
        {% endblock %}
      </tr>
    </thead>
    <tbody>
     {% for pipeline in pipelines %}
     {% block row %}
     <tr class="d-flex">
       <td class="col-1-big">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.pipeline_id }}

           {% if pipeline.report_exists %}
           <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
           {% endif %}
           {% if pipeline.has_targeted_tests %}
           <i class="fas fa-bullseye text-success" title="Has targeted tests"></i>
           {% endif %}
         </a>
       </td>
       <td class="col-1-big">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.gittree.name }}
         </a>
       </td>
       <td class="col-1">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.commit_id | slice:"7"}}
         </a>
       </td>
       <td class="col-4">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.kernel_version }}

           {% if pipeline.trigger_variables.owner %}
           <span class="badge badge-info" title="Submitter">
             {{ pipeline.trigger_variables.owner }}
           </span>
           {% elif pipeline.trigger_variables.submitter %}
           <span class="badge badge-info" title="Submitter">
             {{ pipeline.trigger_variables.submitter }}
           </span>
           {% endif %}

         </a>
       </td>
       {% include 'tables/cell_pipeline_jobs.html' %}
     </tr>
     {% endblock %}
     {% endfor %}
    </tbody>
  </table>
</div>
