{% load styles %}
{% load getattribute %}
{% load addstr %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-7">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Publishing Time</th>
      </tr>
    </thead>
    <tbody>
      {% for revision in revisions %}
        {% with url_name='views.kcidb.revisions' id=revision.iid %}
          <tr class="d-flex">

            <!-- Pipeline link + Revision ID. -->
            <td class="col-1">
              {% for gitlab_job in revision.gitlabjob_set.all %}
                <a href="/pipeline/{{ mergerun.pipeline.pipeline_id }}" class="gitlab_icon" title="Go to pipeline"></a>
              {% endfor %}
            </td>

            {% include 'tables/cell_clickable.html' with size='7' text=revision.id title=revision.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=revision.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=revision.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='2' text=revision.publishing_time %}

          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% if revisions.trimmed_elements %}
  <div>
    <small>+ {{ revisions.trimmed_elements }} records</small>
  </div>
  {% endif %}
</div>
