{% extends "base.html" %}

{% block title %}
{{ group|title }} Confidence
{% endblock %}

{% block header %}

{{ group|title }} Stats

{% load addstr %}
{% include "search.html" with name="search" action="/confidence/"|addstr:group placeholder="Filter" clearhref="/confidence/"|addstr:group|addstr:"?days_ago="|addstr:since hidden_name="days_ago" hidden_value=since %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-4 col-md-6 mb-4">
    <i class="fas fa-history"></i>
      Since {{since}} days ago
      (
      {% with value="ever" name="Since ever" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}

      {% with value="7" name="7 days" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}

      {% with value="1" name="1 day" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}
      )
  </div>
</div>

<div class="row">

{% for item in map %}
  <div class="col-md-4">
  {% include 'web/confidence_column.html' %}
  </div>
{% endfor %}

</div>
{% endblock %}
