{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block header %}
Search
{% endblock %}

{% block content %}

{% if not revisions %}
<div class="alert alert-warning" role="alert">
  No results found.
</div>
{% else %}
<div class="card shadow mb-4">
  <div class="card-body">
    {% include 'tables/table_kcidb_revisions.html' %}
  </div>
</div>

{% include 'paginator.html' %}
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
