{% load trim_queryset %}

<div class="col-xl-12 col-md-12 mb-2">
    <div class="card border-bottom-danger shadow h-100">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1">
              Issue
          </div>

          <div class="h5 mb-1 font-weight-bold">
            <span class="badge badge-danger" title="{{ issue.kind.description }}">{{ issue.kind.tag }}</span>
            <a href="{{issue.ticket_url}}">{{issue.description}}</a>
            {% if issue.kind.kernel_code_related %}
            <span class="badge badge-secondary" title="Origin tree: {{ issue.origin_tree.name|default:'unknown' }}">{{ issue.origin_tree.name|default:'unknown' }}</span>
            {% endif %}
          </div>

          {% include 'issues_list_actions_dropdown.html' %}
          <br>

          {% with revisions=issue.revisions|trim_queryset %}
            {% if revisions %}
              <label>List of Revisions</label>
              {% include 'tables/table_kcidb_simple.html' %}
            {% endif %}
          {% endwith %}

        </div>
      </div>
    </div>
  </div>
</div>

