{% load url_replace %}

<nav aria-label="Page navigation example">
  <ul class="pagination">

    <li class="page-item {% if not paginator.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?{% url_replace page=paginator.previous_page_number %}" aria-label="Previous">Previous</a>
    </li>


    {% for page in paginator.page_range %}
      <li class="page-item {{ page.class }}">
        <a class="page-link" href="?{% url_replace page=page.label %}" style="{{ page.style }}">{{ page.label }}</a>
      </li>
    {% endfor %}

    <li class="page-item {% if not paginator.has_next %}disabled{% endif %}">
      <a class="page-link" href="?{% url_replace page=paginator.next_page_number %}" aria-label="Next">Next</a>
    </li>

  </ul>
</nav>
