<span class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="/api/1/pipeline/{{pipeline.pipeline_id}}" class="dropdown-item">View in API</a>
  </div>
</span>
