<div class="row">
  <div class="col">
    <i class="fas fa-tree"></i>
    <span title="Git Tree">
      {{ revision.tree }}
    </span>
  </div>
  <div class="col-sm-3">
    <small>
      <i class="fas fa-hourglass-start"></i>
      <span title="Discovery Time">
        {{ revision.discovery_time|date:"d M Y H:i:s" }}
      </span>
    </small>
  </div>
</div>

{% if revision.git_repository_url %}
<div class="row">
  <div class="col">
    <span title="Repository URL">
        <i class="fas fa-code-branch fa-sm"></i>
        {{ revision.git_repository_url }} @
    </span>
    <span title="Repository branch">
        {{ revision.git_repository_branch }}
    </span>
  </div>
</div>
{% endif %}

{% for gitlab_job in revision.gitlabjob_set.all %}
  {% with pipeline=gitlab_job.pipeline %}
    {% include 'link_gitlab_pipeline.html' %}
    {% include 'link_gitlab_job.html' %}
  {% endwith %}
{% endfor %}
