{% extends "base_single_card.html" %}

{% block title %}
Change Password Done
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Password change done!</h1>
</div>
{% endblock %}
