{% extends "base_single_card.html" %}

{% block title %}
Set password
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Set your password</h1>
</div>

<form method="POST" action="{% url 'account.signup.complete' uidb64=uidb64 token=token %}">
  {% csrf_token %}
  <div class="form-group">
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat Password" required>
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
      {{ error }}
  </div>
  {% endif %}

  <div class="col" align="right">
      <input type="submit" class="btn btn-success" value="Save">
    </form>
  </div>
</form>

{% endblock %}
