{% extends "base.html" %}

{% block title %}
KCIDB Data
{% endblock %}

{% block header %}
KCIDB Data
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">All</li>
  </ol>
</nav>

{% include 'card_revisions_filter.html' %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Latest Revisions</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_kcidb_revisions.html' %}
  </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
