{% extends "base.html" %}
{% load styles %}
{% load getattribute %}

{% block title %}
Test
{% endblock %}

{% block header %}
Test
{% endblock %}

{% block content %}

{% with kind='test' item=test %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-4">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.tests.get' test.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.revisions' %}">All</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.revisions' test.build.revision.iid %}">Revision</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.builds' test.build.iid %}">Build</a></li>
    <li class="breadcrumb-item active" aria-current="page">Test</li>
  </ol>
</nav>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card border-left-{{ test.status|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ test.status|get_style|getattribute:'color' }}">{{ test.get_status_display }}</div>
          </div>
          <div class="col-auto">
            {{ test.status|get_style|getattribute:'icon_big'|safe }}
            {% if test.targeted %}
              <i class="fas fa-2x fa-bullseye text-success" title='Is targeted'></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ test.status|get_style|getattribute:'color' }}">
        <div class="row">
          <div class="col">
            <label>Test ID: </label>
            {{ test.id }}
          </div>
          <div class="col" align="right">
            {% for gitlab_job in test.gitlabjob_set.all %}
              {% with pipeline=gitlab_job.pipeline %}
                {% include 'link_gitlab_pipeline.html' %}
                {% include 'link_gitlab_job.html' %}
              {% endwith %}
            {% endfor %}
            {% for task in test.beakertask_set.all %}
              {% include 'link_beaker_recipe.html' %}
              {% include 'link_beaker_task.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label>Status:</label>
            <span class="text-{{ test.status|get_style|getattribute:'color' }}">{{ test.get_status_display }}</span>
            </br>
          </div>

          <div class="col-6">
            <label>Origin:</label> {{ test.origin|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Environment:</label> {{ test.environment.fqdn |default:'' }}
            </br>
          </div>

          <div class="col-12">
            <label>Description:</label> {{ test.test.name |default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Path:</label> {{ test.test.universal_id|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Waived:</label> {{ test.waived|default:''|yesno|capfirst }}
            </br>
          </div>

          <div class="col-6">
            <label>Start Time:</label> {{ test.start_time|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Duration:</label> {{ test.duration|default:'' }}
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display all test issues. -->
{% for occurrence in issue_occurrences %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if test.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in test.output_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>
{% endblock %}
